In [1]:
import pandas as pd

In [4]:
pd.read_csv('df2.csv')

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,"{'count': 15, 'items': [{'id': 4292332, 'from_...","{'count': 24, 'items': [{'id': 4292315, 'from_...","{'count': 26, 'items': [{'id': 4292282, 'from_...","{'count': 16, 'items': [{'id': 4292221, 'from_...","{'count': 60, 'items': [{'id': 4292043, 'from_...","{'count': 86, 'items': [{'id': 4292034, 'from_...","{'count': 83, 'items': [{'id': 4291930, 'from_...","{'count': 52, 'items': [{'id': 4291851, 'from_...","{'count': 30, 'items': [{'id': 4291814, 'from_...","{'count': 44, 'items': [{'id': 4291768, 'from_..."
1,1,"{'count': 2, 'items': [{'id': 17284193, 'from_...","{'count': 66, 'items': [{'id': 17284020, 'from...","{'count': 100, 'items': [{'id': 17283837, 'fro...","{'count': 24, 'items': [{'id': 17283722, 'from...","{'count': 43, 'items': [{'id': 17283632, 'from...","{'count': 126, 'items': [{'id': 17283547, 'fro...","{'count': 89, 'items': [{'id': 17283440, 'from...","{'count': 7, 'items': [{'id': 17283413, 'from_...","{'count': 9, 'items': [{'id': 17283345, 'from_...","{'count': 116, 'items': [{'id': 17283264, 'fro..."
2,2,"{'count': 2, 'items': [{'id': 8450704, 'from_i...","{'count': 40, 'items': [{'id': 8450673, 'from_...","{'count': 15, 'items': [{'id': 8450655, 'from_...","{'count': 12, 'items': [{'id': 8450627, 'from_...","{'count': 1, 'items': [{'id': 8450619, 'from_i...","{'count': 2, 'items': [{'id': 8450612, 'from_i...","{'count': 2, 'items': [{'id': 8450586, 'from_i...","{'count': 20, 'items': [{'id': 8450476, 'from_...","{'count': 6, 'items': [{'id': 8450435, 'from_i...","{'count': 210, 'items': [{'id': 8450337, 'from..."
3,3,"{'count': 13273, 'items': [{'id': 19771482, 'f...","{'count': 43, 'items': [{'id': 24787797, 'from...","{'count': 113, 'items': [{'id': 24787150, 'fro...","{'count': 375, 'items': [{'id': 24786252, 'fro...","{'count': 50, 'items': [{'id': 24785785, 'from...","{'count': 801, 'items': [{'id': 24784669, 'fro...","{'count': 257, 'items': [{'id': 24784090, 'fro...","{'count': 112, 'items': [{'id': 24783548, 'fro...","{'count': 123, 'items': [{'id': 24782848, 'fro...","{'count': 879, 'items': [{'id': 24782180, 'fro..."